SUB2API_URL=http://127.0.0.1:8080
SUB2API_ADMIN_API_KEY=replace_me
GROUP_IDS=all
CONCURRENCY=10
PRIORITY=1
COUNT=1
MAX_ATTEMPTS=3
ATTEMPT_TIMEOUT=600
RETRY_SLEEP=1
SLEEP_SECONDS=300
LOOP=1
HEADLESS=0
DEBUG=0
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_CHAT_CACHE_FILE=/root/sub2api-2925-alias-registrar/telegram_chat_id.txt
PROXY=
SUB2API_PROXY_ID=
REDIRECT_URI=http://localhost:1455/auth/callback
ARTIFACTS_DIR=/root/sub2api-2925-alias-registrar/browser_artifacts_duck
HISTORY_FILE=/root/sub2api-2925-alias-registrar/duck_history_service.jsonl
MANAGED_ACCOUNTS_FILE=/root/sub2api-2925-alias-registrar/managed_account_registry.jsonl
IMAP_HOST=imap.2925.com
IMAP_PORT=993
IMAP_USER=yunfanxing6@2925.com
IMAP_PASSWORD=
IMAP_FOLDER=INBOX
OTP_TIMEOUT=180
OTP_POLL=3
DUCK_USERNAME=yunfanxing7
DUCK_RECOVERY_EMAIL=yunfanxing61@2925.com
DUCK_EXTENSION_PATH=/root/sub2api-2925-alias-registrar/duckduckgo_extension
DUCK_BROWSER_PROFILE_DIR=/root/sub2api-2925-alias-registrar/duck_browser_profile
DUCK_LOGIN_TIMEOUT=180
DUCK_LOGIN_POLL=3
